<h1>Showing selected Event</h1>

<p>Title: <%= @event.title %></p>

<p>Description: <%= @event.description %></p>

<%= link_to "Edit this Event", edit_event_path(@event) %> |
<%= link_to "Back to Events listings", events_path %>