<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Lisa Seward</a>
      by <a href="#/">Lisa Seward</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Courses", courses_path %></li>
      </ul>
    </nav>
  </footer>
</div>